{% extends "base.html" %}

{% block header_content %}
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href={{ url_for('logout') }}>Log Out<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</div>
{% endblock %}

{% block body_content %}
<div class="container-center">
    <ul>
        {% for user in users %}
            <li>{{ user.username }} : {{ user.last_visit }} : {{ user.access_rights }}  <a title="Delete" class="mark" href="{{ url_for('delete_user', id=user.id) }}">✗</a>   <a title="Grant rights" class="mark" href="{{ url_for('grant_rights', id=user.id) }}">^</a>  <a title="Delete rights" class="mark" href="{{ url_for('delete_rights', id=user.id) }}">-</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}