<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/st.css" rel="stylesheet">
    <link href="../static/css/register.css" rel="stylesheet">
    <link href="../static/favicon.ico" rel="icon">
	{% block css %}{% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body class="bg">
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href={{ url_for('index') }}>ToDo-Bee-Do</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% block header_content %}{% endblock %}
  </nav>
</header>

{% block body_content %}{% endblock %}
{% block js %}{% endblock %}

</body>
</html>
