{% extends "base.html" %}

{% block header_content %}
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for('logout') }}>Log Out<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
      {% if access == True %}
          <a class="nav-link" href={{ url_for('admin_board') }}>AdminBoard<span class="sr-only">(current)</span></a>
      {% endif %}
        </li>
  </ul>
</div>
{% endblock %}

{% block body_content %}
<div class="container-center">
    <div>Add a new todo item:
        <form action="{{ url_for('add') }}" method="POST">
            <input class="inp_todo" type="text" name="todoitem">
            <input class="add_todo" type="submit" value="+">
        </form>
    </div>
    <div class="container-list">
        <h2>Incomplete Items</h2>
        <ul>
            {% for todo in incomplete %}
            <li class="todo">{{ todo.text }} <a title="Mark as complete" class="mark" href="{{ url_for('complete', id=todo.id) }}">✔</a><a title="Delete" class="mark" href="{{ url_for('delete', id=todo.id) }}">✗</a></li>
            {% endfor %}
        </ul>
        <h2>Completed Items</h2>
        <ul>
            {% for todo in complete %}
            <li class="todo">{{ todo.text }} <a title="Mark as incomplete" class="mark" href="{{ url_for('incomplete', id=todo.id) }}">^</a><a title="Delete" class="mark" href="{{ url_for('delete', id=todo.id) }}">✗</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}